body{
    height: 100%;
    width: 100%;
    color: #444;
}

.logo{
    position: absolute;
    top: 10%;
    left: 4%;
}

.nav{
    display: block;
    unicode-bidi: isolate;
}


ul,li{
    list-style: none;
}

.products{
    color: rgb(68, 68, 68);
    font: 400 15px / 24px Zoho_Puvi_Regular;
    font-size: 1em;
    letter-spacing: .5px;
    font: inherit;
}

.pro{
    position: absolute;
    top: 12.5%;
    left: 30%;
}

.sol{
    position: absolute;
    top: 12.5%;
    left: 37%
}

.com{
    position: absolute;
    top: 12.5%;
    left: 44%
}

.sup{
    position: absolute;
    top: 12.5%;
    left: 52%
}

.eve{
    position: absolute;
    top: 12.5%;
    left: 59%
}

.top{
    position: relative;
    top: 1%;
    left: 80%;
    border-bottom: 1px solid #ddd;
    height: 5%;
    width: 16%;
    font-size: .84rem;
    letter-spacing: .5px;
}

.contact{
    position: absolute;
    left: 3%;
    top: 7%;
}

.store{
    position: absolute;
    left: 24%;
    top: 7%;
}

.partner{
    position: absolute;
    left: 40%;
    top: 7%;
}

.affilitate{
    position: absolute;
    left: 60%;
    top: 7%;
}

.product-banner{
    background: url(https://cdn.manageengine.com/images/product-main-banner-bg1.png), url(https://cdn.manageengine.com/images/product-main-banner-bg2.png), url(https://cdn.manageengine.com/images/product-main-banner-bg3.png), #123991;
    background-size: contain, 32%, contain;
    background-position: left top, 38% center, right top;
    background-repeat: no-repeat;
    min-height: auto !important;
    padding: 11vh 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    position: absolute;
    /* margin-top: -2px; */
    top: 18%;
    height: 45%;
}

.pro-img{
    position: absolute;
    top: 9.5%;
    left: 55%;
}

.text{
    position: absolute;
    top: 24%;
    left: 10%;
    color: #fff;
    font-family: 'Zoho_Puvi_Bold';
    font-size: 300%;
}

.text1{
    position: absolute;
    top: 40%;
    left: 10%;
    color: #fff;
    font-family: 'Zoho_Puvi_Bold';
    font-size: 20px;
    line-height: 1.5;
    z-index: 2;
    text-align: left;
    letter-spacing: .5px;
}

#start{
    position: absolute;
    top: 63%;
    left: 10%;
    display: inline-block;
    color: #000;
    background: #F6C757;
    padding: 11px 20px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Zoho_Puvi_SemiBold';
    margin-right: 15px;
    /* transition: background-color 0.3s, transform 0.2s; */
}
#start:hover{
    background-color: #ebb331;
    /* transform: scale(1.1); */
}

#knowmore{
    position: absolute;
    top: 63.3%;
    left: 20%;
    display: inline-block;
    color: #FFF;
    background: transparent;
    padding: 10px 19px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Zoho_Puvi_SemiBold';
    border: 1px solid #FFF;
}
#knowmore:hover{
    background-color: #ddd;
    color: #000;
}